html{
  --cells-template-animation-scroller-container-bgc : #f0f0f0;
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #444;
  overflow: hidden;
  background-color: #f0f0f0;
}

body.loading #splash {
  opacity: 1;
}

#splash {
  min-height: 100%;
  overflow: hidden;
  opacity: 0;
}

figure {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,50%);
  display: inline-block;
  width: 48px;
  height: 56px;
}

#announcer {
  position: fixed;
  height: 0;
  overflow: hidden;
}
