<style is="custom-style">
  :root {
    --app-container-max-width: 1140px;
    --app-container-padding-horz: 20px;
    --fb-separator-color: rgba( 97, 97, 97, .15 );
    --fb-icon-info: #5bbeff;
    --fb-button-active: #237aba;
    --fb-reset-value: 0;

    /**
    colors
    **/
    --bbva-new-semi-dark: #1464a5;
    --bbva-new-medium-blue: #237aba;
    --bbva-new-dark-blue: #344967;
    --bbva-new-medium-gray: #9ba6b5;
    --bbva-new-medium-light-gray: #979797;
    --bbva-new-grey-100: #9b9b9b;
    --bbva-new-light-gray: #e4e4e4;
    --bbva-new-dark-red: #c0475e;
    --bbva-new-dark-orange: #c65302;

    /**
    fonts
    **/
    --cells-text-size-10: .625rem;
    --cells-text-size-13-5: .84375rem;
    --cells-text-size-15: .9375rem;
    --cells-text-size-17: 1.063rem;
    --cells-text-size-19-2: 1.2rem;
    --cells-text-size-34: 2.125rem;

    /**
    MODAL COMPONENT
    reset padding container
    **/
    --cells-bottom-modal-body-padding: {
      padding: 0
    };
  }
</style>
