<style is="custom-style">

:root {
  /** skeleton item styles *****/
  --cells-skeleton-loading-page: {
    --cells-skeleton-item-box-height: 50px;
    --cells-skeleton-item-box-xs-height: 50px;
    --cells-skeleton-item-box-xs-width: 44%;
    --cells-skeleton-item-box-width: 44%;
    --cells-skeleton-item-content-bottom-box-xs-width: 49.5%;
    --cells-skeleton-item-box-xs-width: 100%;
    --cells-select-item-selected-before-bg-color: transparent
  }

  --cells-skeleton-item-header: {
    padding-bottom: .75rem
  }

  --cells-skeleton-item-box: {
    padding: 0 !important
  }

  --cells-skeleton-item-content-top: {
    padding-bottom: .5rem
  }
}

body {
  overflow: hidden;
  color: var( --bbva-600, #121212 )
}

</style>
